body {
  background-color: #c1bdba;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  margin: 0px;
}

p {
  display: inline-block;
  margin: 20px;
  font-size: 25px;
  text-indent: 50px;
  text-align: justify;
  width: 70%;
}

/* NAVPANEL */

.navpanel__link {
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding-bottom: 15px;
  text-align: center;
  transition: .5s;
  font-weight: 700;

}

.navpanel__link:hover {
  color: rgb(28, 101, 246);
  transition: .5s;
}

.logo {
  background-color: rgb(59, 84, 134);
  width: 100%;
  min-height: 70px;
  display: inline-block;
  text-align: center;
}

.navigation__shell {
  background-color: white;
  padding: 13px;
  border-radius: 0px 0px 10px 10px;
}

.navigation__href {
  color: black;
  width: 100%;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  transition: .5s;
}

.navigation__href:hover {
  color: rgb(0, 85, 255);
  transition: .5s;
}

.topmenu {
  background-color: rgba(240, 240, 240, 0.85);
  text-align: center;
  min-height: 40px;
  border-radius: 0px 0px 10px 10px;
}

.shell {
  background-color: rgba(180, 180, 180, 0.85);
  width: 80%;
  min-height: 900px;
  display: inline-block;
}

.shell_book {
  padding: 5px;
}

.shell_comments p{
  text-indent: 15px;
  margin: 5px 0 5px 0;
  font-size: 18px;
  text-align: justify;
  color: #e9e9e9;
  width: 100%;
  word-wrap: break-word;
}

.shell_comments p.author{
  text-indent: -10px;
  font-size: 22px;
  color: white;
}

.shell_comments form{
  margin: 5px 0 10px 0;
}
@media(width <= 768px) {
  p {
    font-size: 20px;
    text-indent: 40px;
    text-align: justify;
  }

  .shell {
    width: 100%;
  }
}


.shell_book p {
  vertical-align: top;
  margin-top: 50px;
}

.option-categ {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  margin: 2px;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 225px;
  text-align: center;
  align-items: center;
}

.form-group__input {
  padding: 7px 0px 7px 0px;
  width: 221px;
}

.form-group__select {
  margin-left: 10px;
  width: 215px;
}

.form-button {
  color: white;
  padding: 7px 0px 7px 0px;
  background-color: rgb(80, 80, 80);
  width: 90px;
  max-height: 32px;
  font-size: 16px;
  align-items: flex-start;
  display: inline-block;
  margin: 3px 0px 3px 0px;
  text-decoration: none;
  border: 0px;
}

.page_book a {
  padding: 7px;
  text-decoration: none;
  color: white;
  width: 215px;
}

.page_book {
  align-items: center;
  text-align: center;
  background-color: rgb(80, 80, 80);
  width: 100px;
  height: auto;
  margin: 10px;
  display: inline;
}

.form-button:hover {
  cursor: pointer;
}

.form_auth {
  align-self: start;
}

div.center {
  display: inline-block;
  width: 225px;
  margin: 30px 10px 30px 10px;
}



@media(min-width: 600px) {
  .topmenu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .topmenu>li {
    position: relative;
  }

  .topmenu>li:hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

}